.DateGroupContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 10px;
  background: var(--palette-green-green);
  height: 25px;
  border-radius: 25px;
  padding-left: 0.5rem;
}

.DateGroupContainer:hover {
  transition: all 0.5s ease-out;
  background: var(--palette-green-greenLight1);
  cursor: pointer;
  height: 50px;
}
